/* @override http://localhost/jetbird-git/jetbird/template/default/css/style.css */

/* Global */

a > img {
	border-style: none;
}

body {
	background: #c8c8c8 url(../image/background.png) 50%;
	margin: 0;
	padding: 0;
}

hr {
	background-color: black;
}

a:visited {
	color: #00e;
}

p {
	margin: 0;
}

#wrap {
	margin: auto;
	width: 739px;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Top */

#head {
	background-image: url(../image/head.png);
	height: 148px;
	width: 739px;
}

h1 {
	font-size: 80px;
	color: white;
	margin: 0;
	padding-left: 10px;
	padding-top: 55px;
	float: left;
}

#head > form {
	float: right;
	padding-top: 108px;
	padding-right: 10px;
}

/* Content */

small.subtitle {
	padding-left: 20px;
}

h2 {
	font-size: 30px;
	margin: 10px 0 0;
}

#content {
	height: 100%;
	width: 529px;
	float: left;
	text-align: justify;
	padding: 0 10px 10px;
	border-right: 2px solid #3371a3;
}

#content > p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment {
	background-color: #4885b6;
	padding: 15px;
	margin-bottom: 10px;
}

.comment * {
	color: white;
}

.comment > p {
	clear: both;
}

.comment > p > small {
	float: right;
}

/* Menu */

.menu {
	width: 168px;
	float: right;
	padding: 10px;
}

.menu * {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu ul > ul > li {
	text-indent: 20px;
}

/* Foot */

#foot {
	clear: both;
	background-image: url(../image/foot.png);
	width: 739px;
	text-align: center;
	padding-top: 35px;
	height: 57px;
}

#foot * {
	color: white;
}

#foot > small {
	word-spacing: 3px;
}