/*This file is part of jetbird.

    jetbird is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/
body,html { 	
	height: 100%;
	}

body {
	background-color: #1b1b1b;
	padding: 0;
	margin: 0;
	}

body * {
	margin: 0;
	padding: 0;
	}
	
div#wrap_main {	
	height: 100%;
	margin: auto;
	width: 700px;
	color: white;
	}
	
div#wrap_content {	
	background: url(images/back.gif);
	min-height: 100%;
	width: 700px;
	
	}
div#wrap_header {	
	height: 37px;

	background: url(images/header.gif) no-repeat;
	}

div#wrap_footer {	
	height: 50px;
	text-align: center;
	font-size: small;
	background: url(images/test2_06.png) no-repeat;
	}

div#header {	
	padding: 90px;
	}

div#content {	
	padding: 90px;
	width: 525px;

	}

div#view_post_box {
	padding: 50px;
	}
	
p.main_title {	
	font-size: 18px;
	font-family: sans-serif;
	}
	
p.main_post {	
	font-size: 15px;
	}
	
p.main_date {	
	font-size: 12px;
	}

hr {		
	border-color:  #1b1b1c;
	border-style:	solid;
	margin-top:		5px;
	}
	
	
a.link_view {
	float: right;
	}
	
a.link_login {
	position: relative;
	}
	
div.comments {
	margin-left: 50px;
	}